.h1Favorites {
    position: absolute;
    top: 0;
}

.h3Favorites {
    position: absolute;
    top: 70px;
    color: #f1f1f1;
}

.divFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    flex-wrap: wrap;
}